.footer {
  background-color: rgb(14, 5, 65);
  color: white;
  padding-top: 20px;
}
.footer-link {
  display: flex;
  justify-content: center;
}
.footer-list {
  background-color: rgb(14, 5, 65);
}
.footer-list a {
  text-decoration: none;
  color: white;
}
#myInput {
  color: black;
}

.form{
  background-color: rgb(2, 0, 36);
  display: flex;
  flex-flow: column wrap;
  padding-bottom: 20px;
  padding-top: 20px;
}
.form input, textarea{
  margin-top: 5px;
  margin-bottom: 5px;
}

.contactPage{
  color: white;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top:10px;
  margin-bottom: 5px;
}

/* .modal-header {
  background-color: rgb(2, 0, 36);
  color: white;
}
.modal-footer {
  background-color: red;
  color: white;
}
.modal-title {
  color: white;
} */
.btn-secondary {
  background-color: rgb(14, 5, 65);
  color: white;
}
.submit {
  background-color: white;
  color: rgb(14, 5, 65);
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.submit:hover{
  background-color: red;
  color: white;
  text-shadow: 1px 1px blue;
  padding: 3px;
}

.logo2{
    border-top: solid 3px white;
    border-right: solid 3px white;
    border-bottom: solid 3px white;
    border-left: none;
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-left: 80%;
}
.logo2 h6{
    font-size: 12px;
    color: white;
    padding-right: 1px;
}