.header {
  background-color: rgb(2, 2, 49);
  height: 100vh;
}
.nathan {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  padding-top: 20%;
  color: white;
}

.mainText {
  text-align: center;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.card-img-top {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.listHeader {
  color: rgb(255, 255, 255);
  list-style-type: none;
  padding-top: 50px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  
}
.listHeader a {
  text-decoration: none;
  text-shadow: 1px 1px blue;
}


.animation{
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
}
.animation:active,
.animation:focus,
.animation:hover {
	-webkit-transform: translateX(8px);
	transform: translateX(8px);
  color: red;
}

.red{
  position: absolute;
  margin-left: 100px;
  opacity: 0.4;
}
.yellow{
  position: absolute;
  margin-right: 50px;
  opacity: 0.4;
}
.blue{
  position: absolute;
  margin-left: 50px;
  opacity: .6;
  z-index: 2;
}
.webdev{
  display: flex;
  justify-content: center;
  color: white;
}