.project-header {
  color: white;
  padding-bottom: 25px;
}

.project1 {
  height: 400px;
  margin-bottom: 60px;
  margin-top: -40px;
}

.project2 {
  height: 400px;
  margin-bottom: 60px;
  margin-top: -40px;
}
.project3 {
  height: 400px;
  margin-bottom: 60px;
  margin-top: -40px;
}
.project4 {
  height: 400px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.project5 {
  height: 400px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.project6 {
  height: 400px;
  margin-bottom: 20px;
  margin-top: 20px;
}
